body{
    background-color: #08080818;
}
.clr{
    clear: float; 
}

.box-1{
    text-align: center;
    background-color: #b1a6f118;
    border: 1px solid black;
    margin: auto;
    width: 50%
}

.box-1 a{
    text-decoration: center;
    background-color: #b1a6f118;
    margin: auto;
    width: 50%
}

#main-para{
    text-align: center;
}

.heading1{
    width: 50%;
    float: left;
}

.heading2{
    width: 50%;
    float: right;
    text-align: right;
}