body {
    padding-top: 20px;
    padding-bottom: 40px;
}

.registration {
    padding: 5px;
    margin: 0px;
    left: 0px;
    height: auto;
    font-size: 18px;
    position: static;
}

.content {
    font-size: 25px;
}
