<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <style type="text/css">
            #header1{
                text-align:center;
                background-color:black;
                color:white;
                padding: 10px;
            }
        </style>
        
        <header id= "header1">
            <h1> Businesses Near You</h1>
        </header>
        <br>
    </head>
    <body>
    {% for business in businesses %}
        <div class="container">
            <div class="pp">
                    <header>
                        <h2>{{ business.name }}</h2>
                    </header>
                    <body>
                        <p>{{ business.description }}</p>
                    </body>
                    <a href="/browse/{{ business.name }}">Go to {{ business.name }}</a>
            </div>
        </div> 
    {% endfor %}
<!-- <div class="container">
    <div class="pp">
            <header>
                <h2> Purple Purlers</h2>
            </header>
            <body>
                <p> Purple Purlers is a group of students who attend Fairlawn Public School that have a passion for knitting. They are helping the forgotten and abandoned animals in the world with their knitted items. Over the last few years, they have donated over 100 hand-made articles of clothing and blankets to different foundations across Ontario. They have donated to organizations such as the Brampton Animal Services, Forgotten Ones Cat Rescue, Toronto Cat Rescue. For 2020, they are preparing a package of Animal Blankets to send to the Aspen Wildlife Lodge. Currently, they require assistance in <strong> web development, marketing needs and promotional material</strong>.</p>
            </body>
            <a href="purplepurlers.html"> Go to Purple Purlers</a>
    </div>
</div> 

    <br>
    <br>
    <a>
        <img src="splash.jpeg" alt="Splash Tutors Logo" width="260" style="float:right"/>  
    </a> 
    <div class="container">
        <div class="splash">
        <header>
            <h2> Splash Tutors</h2>
        </header>
        
        <body>
            <p> Splash Tutors is a tutoring business specializing in Math, Chemistry and Biology Tutoring. They also have an online math tutoring service that will save your time and money. Take tutoring in the comfort of your own home, they say! Parent with a busy work schedule can enjoy the convenience of their online Learning at home. Not only this, but they also specialize in IB Tutoring! IB Tutoring is extremely hard to find but with Splash Tutors, all the resources are right under your nose. Currently, they require assistance in <strong> app development and web development</strong>.</p>
        </body>
        <a href="splashtutors.html"> Go to Splash Tutors</a>
        </div>
    </div> 

    <br>    
    <br>
    <a>
        <img src="39spices.jpg" alt="39 Spices Logo" width="260" height="180" style="float:right"/>  
    </a> 
    <div class="container">
        <div class="splash">
        <header>
            <h2> 39 Spices</h2>
        </header>
        
        <body>
            <p> 39 Spices is a restaurant which is known for its authentic Indian food. It is a fine dining Indian restaurant serving Halal & vegetarian dishes. They offer an exceptional dining experience -or if you're in a rush, a hot and flavourful take out menu. They also offer many Indian sweets and drinks that you would not want to miss out on! Currently, they require assistance in <strong> web development</strong>.</p>
        </body>
        <a href="39spices.html"> Go to 39 Spices</a>
        </div>
    </div>

    <br>    
    <br>
    <a>
        <img src="tjfauto.jpg" alt="TJF Auto Services Logo" width="260" height="180" style="float:right"/>  
    </a> 
    <div class="container">
        <div class="tjfauto">
        <header>
            <h2> TJF Auto Services</h2>
        </header>
        
        <body>
            <p> TJF Auto Services is a private company that focuses on auto manufacturing and repair. They are currently located in Missisauga, Ontario. They provide many services such as oil changes, tire changes, fixing bumpers, and so much more! Currently, they require assistance in <strong> marketing needs and promotional material</strong>.</p>
        </body>
        <a href="tjfauto.html"> Go to TJF Auto Services</a>
        </div>
    </div> -->
</body>
</html>
