<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Business Registration</title>

        <link href="./static/signup.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="./static/homepage.css">
        <link rel="stylesheet" href="js.js" type="text/Javascript">
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Oswald:wght@600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat&family=Oswald:wght@600&display=swap" rel="stylesheet">
        
    </head>
     <!-- Logo on Nav Bar--> 
<div class="logo"><a href="#"><img src="images/logo.png"></a></div>
<!-- Nav Bar-->
<!-- Code might need to be copy pasted on each page? not sure-->
<nav class="menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/showRegistration">Registration</a></li>
    <li><a href="/browse">Browse</a>
      <ul> 
        <li><a href="/businesses/Toronto">Toronto</a></li>
        <li><a href="/businesses/Ottawa">Ottawa</a></li>
        <li><a href="/businesses/Brampton">Brampton</a></li>
        <li><a href="/businesses/Hamilton">Hamilton</a></li>
        <li><a href="/businesses/London">London</a></li>
        <li><a href="/businesses/Vaughan">Vaughan</a></li>
        <li><a href="/businesses/Kitchener">Kitchener</a></li>
        <li><a href="/businesses/Windsor">Windsor</a></li>
        <li><a href="/businesses/Mississauga">Mississauga</a></li>
      </ul>
    </li>
  </ul>
</nav> 
    <body>
        <div class="content">
        <h2>Business Registration</h2>

        <form class="registration" action="/registration" method="POST">            
            <label>City:</label><br>
            <select name = "city" id="city">
                <option value = "Toronto">Toronto</option>
                <option value = "Ottawa">Ottawa</option>
                <option value = "Brampton">Brampton</option>
                <option value = "Hamilton">Hamilton</option>
                <option value = "London">London</option>
                <option value = "Kitchener">Kitchener</option>
                <option value = "Windsor">Windsor</option>
                <option value = "Mississauga">Mississauga</option>
            </select><br><br>

            <label for="name" required>Name of Business:</label><br>
            <input type = "text" id="name" name="name"><br><br>
            
            <label for="phone">Phone #:</label><br>
            <input type = "text" id="phone" name="phone"><br><br>
            
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email"><br><br>
            
            <label for="website">Website:</label><br>
            <input type = "url" id="website" name="website"><br><br>
            
            <label for="description">Tell us more about your business:</label><br>
            <input type = "text" id="description" name="description" style="height:300px;width:600px;"><br><br>
            
            <button id="SubmitForm" type="submit">Submit Form</button>
        </form>
        </div>
    </body>
</html>