<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./static/homepage.css">
        <link rel="stylesheet" href="js.js" type="text/Javascript">
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Oswald:wght@600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat&family=Oswald:wght@600&display=swap" rel="stylesheet">
        <title>Home Page</title>
    </head>
    <div class="logo"><a href="#"><img src="img/logo.png"></a></div>
    <!-- Nav Bar-->
    <!-- Code might need to be copy pasted on each page? not sure-->
    <nav class="menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/showRegistration">Registration</a></li>
        <li><a href="/browse">Browse</a>
    <ul> 
        <li><a href="/businesses">Toronto</a></li>
        <li><a href="/businesses">Ottawa</a></li>
        <li><a href="/businesses">Brampton</a></li>
        <li><a href="/businesses">Hamilton</a></li>
        <li><a href="/businesses">London</a></li>
        <li><a href="/businesses">Vaughan</a></li>
        <li><a href="/businesses">Kitchener</a></li>
        <li><a href="/businesses">Windsor</a></li>
        <li><a href="/businesses">Mississauga</a></li>
    </ul>
        </li>
    </ul>
    </nav> 
    <body>
        
    <div class="body">
            <div class="newUser">
                <br>
                <br>
                <br>
                <br>
                
                <h2>New user? Register your small business now. </h2>
                <h3> 1,000 businesses have recently signed up!</h3>
                <form>
                    <button formaction="/showRegistration">Sign Up</button>
                </form>
            </div>

           
            
            <div class="clr"> </div>
            
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            
            
            <div class="newbusinesses">
                <p>New businesses</p>
            </div>
            
            
            
            <div class="new">
                <div class="business1">
                    <img src="img/kotn.jpg">
                    <div class="clr"> </div>
                        <br>
                        <div class="box">
                            <div class=namebusiness1>
                                <p>Kato</p>
                            </div>
                            <div class="infobusiness1">
                                <p>Kotn is a local, eco-friendly and ethical brand. Their name originates from their promise to only use Egypitian cotton.</p>
                            </div>
                        </div>
                </div> 
                <br>
                <br>
                <div class="business2">
                    <img src="img/39 spices.jpg">
                    <div class="clr"> </div>
                        <br>
                        <div class="box2">
                            <div class=namebusiness2>
                                <p>39 spices</p>
                            </div>
                            <div class="infobusiness2">
                                <p>39 Spices is a restaurant which is known for its authentic Indian food. It is a fine dining Indian restaurant serving Halal & vegetarian dishes. They offer an exceptional dining experience -or if you're in a rush, a hot and flavourful take out menu. They also offer many Indian sweets and drinks that you would not want to miss out on! Currently, they require assistance in web development.
                                </p>
                            </div>
                        </div>
                </div> 
                <br>
                <br>
                <div class="business3">
                    <img src="img/tjf auto services.jpg">
                    <div class="clr"> </div>
                        <br>
                        <div class="box3">
                            <div class="namebusiness3">
                                <p>TJF Auto Services</p>
                            </div>
                            <div class="infobusiness3">
                                <p>
                                    TJF Auto Services is a private company that focuses on auto manufacturing and repair. They are currently located in Missisauga, Ontario. They provide many services such as oil changes, tire changes, fixing bumpers, and so much more! Currently, they require assistance in marketing needs and promotional material.

                                </p>
                            </div>
                        </div>
                </div> 
                <br>
                <br>
                <div class="business4">
                    <img src="img/purple purlers2.jpg">
                    <div class="clr"> </div>
                        <br>
                        <div class="box4">
                            <div class="namebusiness4">
                                <p>Purple Purlers</p>
                            </div>
                            <div class="infobusiness4">
                                <p>
                                    Purple Purlers is a student-ran organization and they are helping the forgotten and abandoned animals in the world with their knitted items. Over the last few years, they have donated over 100 hand-made articles of clothing and blankets to different foundations across Ontario.  Currently, they require assistance in web development, marketing needs and promotional material.

                                </p>
                            </div>
                        </div>
                </div> 
                
        
            </div>
    </div>
    
    </body>
</html>